/**GLOBAL**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3 {
    font-family:"Madimi One" ,Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

/**TOP**/

h1 {
   font-size: 40px; 
   font-family:"Madimi One" ,Arial, Helvetica, sans-serif;
   display: flex;
   align-items: center;
   padding-left: 10px;
}
header {
    padding: 5px;
    margin: 1rem;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

.logo-container { width: 300px;
    border-radius: ;
}

.logo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/**MIDDLE**/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 30px;
    color: white;
    margin: 10px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 300px;
}


/**MEDIA QUERY**/


@media screen and (min-width: 800px) {
    header {
        background-color: rgb(164, 18, 18);
    }
}